.Code {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    flex-direction: column;
}

.CertifInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}