.LoadingClass {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 450px;
}

.DashboardContainer {
    overflow: hidden;
}
.CasesContainer {
    margin-top: 90px;
    margin-left: 20px;
}

.LastContainer {
    margin-top: 90px;
}
