.LoadingClass {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 450px;
}

.CasesContainer {
    margin-top: 120px;
    margin-left: 20px;
}

.LastContainer {
    margin-top: 120px;
}
