.MapWidget {
    background-color: #282c34;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.LoadingClass {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 450px;
}

.MapButt {
    display: flex;
    flex-direction: row;
    max-width: 100px;
    background-color: red; 
}