.SecondList {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.CasesList {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 100px;
}

.LastContainer {
    margin-top: 90px;
    text-align: center;
}

.TotalDeathRecovered {
    display: flex;
    justify-content: center;
    align-items: center;
}
