.CasesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-left: 20px;
    flex-direction: column; 
}

.CasesTotal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 100px;
    margin-bottom: 30px;
}

.CasesList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TypoStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}