.CasesContainer {
    margin-top: 120px;
    margin-left: 20px;
}

.CasesTotal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 160px;
    margin-bottom: 30px;
}

.CasesList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TypoStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ListSubheader {
    z-index: 20000 !important;
}

.ListCountry {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}