.CasesContainer {
    margin-top: 90px;
    margin-left: 20px;
}

.CasesTotal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.CasesList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TypoStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ListSubheader {
    z-index: 20000 !important;
}

.ListCountry {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
